# PROJECT LAYOUT

#### The aim of this project is to explore how we can improve our chances of winning the Television game Jeopardy! by checking how often questions

#### - are repeated
#### - which category of questions has the highest repititions.

#### The dataset contains more than 200,000 rows of questions.

# A. Reading in the Data

In [28]:
import pandas as pd

jeopardy = pd.read_csv("jeopardy.csv")
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [29]:
jeopardy.shape

(216930, 7)

#### Cleaning the text present in Question and Answer columns

In [30]:
jeopardy.columns = jeopardy.columns.str.strip()
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

### We determine how many questions are repeated by checking if a certain question has words in previous questions also.

#### Words with only more than 5 letters will be considered as words with lesser no. of letters are usually the, then, etc, which are not meaningful in determining whether a question is repeated or not

In [31]:
## CLEANING the text "Question" and "Answer" columns by lower-casing them and removing punctuations!

import string

jeopardy["Answer"] = jeopardy["Answer"].astype(str)

def cleaning_text(jeo_string):
    jeo_string = jeo_string.lower()
    jeo_string = "".join((char for char in jeo_string if char not in string.punctuation))
    return jeo_string

jeopardy["clean_question"] = jeopardy["Question"].apply(cleaning_text)
jeopardy["clean_answer"] = jeopardy["Answer"].apply(cleaning_text)

print(jeopardy["clean_question"])
print(jeopardy["clean_answer"])

0         for the last 8 years of his life galileo was u...
1         no 2 1912 olympian football star at carlisle i...
2         the city of yuma in this state has a record av...
3         in 1963 live on the art linkletter show this c...
4         signer of the dec of indep framer of the const...
5         in the title of an aesop fable this insect sha...
6         built in 312 bc to link rome  the south of ita...
7         no 8 30 steals for the birmingham barons 2306 ...
8         in the winter of 197172 a record 1122 inches o...
9         this housewares store was named for the packag...
10                                           and away we go
11        cows regurgitate this from the first stomach t...
12        in 1000 rajaraja i of the cholas battled to ta...
13        no 1 lettered in hoops football  lacrosse at s...
14        on june 28 1994 the natl weather service began...
15        this companys accutron watch introduced in 196...
16        outlaw murdered by a traitor and a coward whos...
17        a small demon or a mischievous child who might...
18        karl led the first of these marxist organizati...
19        no 10 fblb for columbia u in the 1920s mvp for...
20        africas lowest temperature was 11 degrees belo...
21        edward teller  this man partnered in 1898 to s...
22        1939 oscar winner you are a credit to your cra...
23        in geologic time one of these shorter than an ...
24        this asian political party was founded in 1885...
25        no 5 only center to lead the nba in assists tr...
26        the kirschner brothers don  bill named this sk...
27        revolutionary war hero his spirit is in vermon...
28        a single layer of paper or to perform ones cra...
29        a hrefhttpwwwjarchivecommedia20041231dj23mp3be...
                                ...
216900    this baldwin brother was extremely entertainin...
216901    he used the strength of his mind when he propo...
216902    common species of this duck include bluewinged...
216903    as a child joseph conrad pointed to the center...
216904    in 1981 he quipped you can tell a lot about a ...
216905    it has a museum devoted to composer zoltan kodaly
216906    red light winter centers on a love triangle th...
216907    sphinx what animal walks on 4 legs in the morn...
216908    toco the largest species of this colorful bird...
216909    poet gregory corso went on the beat path after...
216910    in his prime this athlete said its hard to be ...
216911                its home to the holmenkollen ski jump
216912    wed like to enlighten you about the musical si...
216913    he created the musical riddles called the enig...
216914    one species of this bird breeds in the arctic ...
216915    in his teens he worked in an assistant das off...
216916    oscar wilde called this 4letter word the curse...
216917      guyanese capital named for a hanoverian monarch
216918    a naughty 18th c novel originally titled memoi...
216919    if this riddling belgian surrealist painter bo...
216920    nightingales  robins belong to this family of ...
216921    her hotsytotsy diaries trace back to one she b...
216922    a motto of hers was in politics if you want an...
216923                            its on the suriname river
216924    in 2006 the cast of this longrunning hit embar...
216925    this puccini opera turns on the solution to 3 ...
216926    in north america this term is properly applied...
216927    in penny lane where this hellraiser grew up th...
216928    from ft sill okla he made the plea arizona is ...
216929    a silent movie title includes the last name of...
Name: clean_question, Length: 216930, dtype: object
0                                                copernicus
1                                                jim thorpe
2                                                   arizona
3                                                 mcdonalds
4                                                john adams
5                                                   the ant
6                                            the appian way
7                                            michael jordan
8                                                washington
9                                             crate  barrel
10                                           jackie gleason
11                                                  the cud
12                                      ceylon or sri lanka
13                                                jim brown
14                                             the uv index
15                                                   bulova
16                                              jesse james
17                                                      imp
18                                        the international
19                                               lou gehrig
20                                                  morocco
21                                              paul bonwit
22        hattie mcdaniel for her role in gone with the ...
23                                                      era
24                                       the congress party
25                                         wilt chamberlain
26                                                       k2
27                                              ethan allen
28                                                      ply
29                                                   horton
                                ...
216900                                         alec baldwin
216901                                               samson
216902                                             the teal
216903                                               africa
216904                                        ronald reagan
216905                                             budapest
216906                                            amsterdam
216907                                                  man
216908                                             a toucan
216909                                       allen ginsberg
216910                                         muhammad ali
216911                                                 oslo
216912                                           siddhartha
216913                                         edward elgar
216914                                               a tern
216915                                 erle stanley gardner
216916                                                 work
216917                                           georgetown
216918                                           fanny hill
216919                                             magritte
216920                                             thrushes
216921                                            anaïs nin
216922                                    margaret thatcher
216923                                           paramaribo
216924                                                stomp
216925                                             turandot
216926                                           a titmouse
216927                                         clive barker
216928                                             geronimo
216929                       grigori alexandrovich potemkin
Name: clean_answer, Length: 216930, dtype: object

In [32]:
# Removing uncleaned Columns Questions and Answer

jeopardy = jeopardy.drop(["Question", "Answer"], axis=1)
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,in 1963 live on the art linkletter show this c...,mcdonalds
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,signer of the dec of indep framer of the const...,john adams

# B. Calculating repitition of Questions

In [33]:
question_overlap = []
terms_used = set()

## Running the loop over the rows.

for i, row in jeopardy.iterrows():
    split_question = row["clean_question"].split(" ")
    
    # Keeping words with minimum 6 letters only.
    split_question = [w for w in split_question if len(w) > 5]
    
    match_count = 0
    
    # Creating count of words in the split question list.
    for word in split_question:
        if word in terms_used:
            match_count += 1
            
    for word in split_question:
        terms_used.add(word)
            
    # Calculating percentage of words that occur in prevoius questions also.
    if len(split_question) > 0:
        match_count/=len(split_question)
    question_overlap.append(match_count)
        
jeopardy["question_overlap"] = question_overlap

# Finding average repitition.
jeopardy["question_overlap"].mean()

0.8729646759744081

### This means that on average, 87.29% of words keep repeating.

### Thus, we may improve our chances of winning greatly by preparing questions asked previously.

# C. Checking repititions by category.

In [34]:
# Fetching categories by their frequency.

jeopardy["Category"].value_counts()

BEFORE & AFTER                       547
SCIENCE                              519
LITERATURE                           496
AMERICAN HISTORY                     418
POTPOURRI                            401
WORLD HISTORY                        377
WORD ORIGINS                         371
COLLEGES & UNIVERSITIES              351
HISTORY                              349
SPORTS                               342
U.S. CITIES                          339
WORLD GEOGRAPHY                      338
BODIES OF WATER                      327
ANIMALS                              324
STATE CAPITALS                       314
BUSINESS & INDUSTRY                  311
ISLANDS                              301
WORLD CAPITALS                       300
U.S. GEOGRAPHY                       299
RELIGION                             297
SHAKESPEARE                          294
OPERA                                294
LANGUAGES                            284
BALLET                               282
TELEVISION                           281
FICTIONAL CHARACTERS                 280
TRANSPORTATION                       279
PEOPLE                               279
RHYME TIME                           279
ART & ARTISTS                        270
                                    ...
ROCK ICONS                             1
WORDS IN LITERATURE                    1
SPORTS PHRASES                         1
AFRICAN RIVERS                         1
AMERICAN FICTION WRITERS               1
1980s BUSINESS                         1
PLAGUES & PESTILENCE                   1
FLYOVER COUNTRY                        1
EXPLORING                              1
20th CENTURY BESTSELLERS               1
SUMMER OLYMPIC VENUES                  1
COLLEGE HISTORY                        1
WORLD OF TELEVISION                    1
GREAT MOMENTS IN THE 20th CENTURY      1
ROCK SONGS                             1
RECORD SETTERS                         1
TOP OF THE POP CHARTS                  1
BUSY PRESIDENTS                        1
19th CENTURY MEN                       1
DANTE'S INFERNO                        1
FILM HISTORY                           1
19th CENTURY POLITICS                  1
RECENT INNOVATIONS                     1
THE NUCLEAR AGE                        1
1999 ART NEWS                          1
THE MUSICAL U.S.                       1
CHARACTERS                             1
CIVIL WAR                              1
HISTORIC LISTS                         1
POPULAR FICTION                        1
Name: Category, Length: 27995, dtype: int64

#### Given the large number of categories, it only makes sense if we calculate repititions for only the best categories.

In [41]:
jeopardy["Category"].value_counts()[:10]

BEFORE & AFTER             547
SCIENCE                    519
LITERATURE                 496
AMERICAN HISTORY           418
POTPOURRI                  401
WORLD HISTORY              377
WORD ORIGINS               371
COLLEGES & UNIVERSITIES    351
HISTORY                    349
SPORTS                     342
Name: Category, dtype: int64

#### Fetching the above loop codes

In [ ]:
question_overlap = []
terms_used = set()

## Running the loop over the rows.

for i, row in jeopardy.iterrows():
    split_question = row["clean_question"].split(" ")
    
    # Keeping words with minimum 6 letters only.
    split_question = [w for w in split_question if len(w) > 5]
    
    match_count = 0
    
    # Creating count of words in the split question list.
    for word in split_question:
        if word in terms_used:
            match_count += 1
            
    for word in split_question:
        terms_used.add(word)
            
    # Calculating percentage of words that occur in prevoius questions also.
    if len(split_question) > 0:
        match_count/=len(split_question)
    question_overlap.append(match_count)
        
jeopardy["question_overlap"] = question_overlap

#### Introducing filtering by category and finding word overlapping percentages

In [43]:
# Finding average repitition.

entries = ["BEFORE & AFTER", "SCIENCE", "LITERATURE", "AMERICAN HISTORY", "POTPOURRI"]
entry_overlaps = []

for entry in entries:
    B = jeopardy["question_overlap"][jeopardy["Category"] == entry].mean()
    entry_overlaps.append(B)
    
entry_overlaps

[0.911536229360727,
 0.8882977379704683,
 0.9047886757060144,
 0.9459320564196726,
 0.880296054734958]

### Hence, it can be seen that the category of questions that re-occurs the most in the game Jeopardy! is AMERICAN HISTORY